.eren {
   width:1014px; /*width of your image*/
   height:1014px; /*height of your image*/
   background-image:url('erenyeagerwiki.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
   float:right;
   }
